<h1 class="header">Atelier Ryza: Password Finder</h1>

<div class="row">
  <form [formGroup]="form" class="search-form">
    <ryza-input
      class="col-6"
      placeholder="Search"
      [control]="form.controls['searchInput']"
      labelFor="Search Input"
      type="text"
    ></ryza-input>
    <ryza-input
      class="col-3"
      placeholder="Level limit"
      [control]="form.controls['levelLimit']"
      labelFor="Level Limit"
      type="number"
    ></ryza-input>
    <ryza-dropdown placeholder="Search by" [control]="form.controls['searchType']" labelFor="Type" [options]="searchTypes"></ryza-dropdown>
  </form>

  <ryza-theme-switcher></ryza-theme-switcher>

  <ryza-loading *ngIf="isFetching"></ryza-loading>
</div>

<ng-container *ngIf="!isFetching">
  <div class="password-details" *ngIf="results && results.length > 0">
    <ryza-password-detail *ngFor="let result of results" [details]="result"></ryza-password-detail>
  </div>

  <div class="no-results" *ngIf="results && results.length === 0">
    No results found :(
  </div>
</ng-container>
