<h1 class="header">Atelier Ryza: Password Finder</h1>

<div class="row">
  <form [formGroup]="form" class="search-form">
    <ryza-input
      class="col-6"
      placeholder="Search"
      [control]="form.controls['searchInput']"
      labelFor="Search Input"
      type="text"
    ></ryza-input>
    <ryza-input
      class="col-3"
      placeholder="Level limit"
      [control]="form.controls['levelLimit']"
      labelFor="Level Limit"
      type="number"
    ></ryza-input>
    <ryza-dropdown placeholder="Search by" [control]="form.controls['searchType']" labelFor="Type" [options]="searchTypes"></ryza-dropdown>
  </form>

  <ryza-theme-switcher></ryza-theme-switcher>

  <ryza-loading *ngIf="isFetching"></ryza-loading>
</div>

<ng-container *ngIf="!isFetching">
  <ng-container *ngIf="!hasError">
    <div class="password-details" *ngIf="results && results.length > 0">
      <ng-container *ngTemplateOutlet="pagination"></ng-container>
      <div class="password-details-container">
        <ryza-password-detail
          *ngFor="let result of results | slice: pageStart:pageEnd - 1"
          [details]="result"
        ></ryza-password-detail>
      </div>
      <ng-container *ngTemplateOutlet="pagination"></ng-container>
    </div>

    <div class="no-results" *ngIf="results && results.length === 0">
      No results found :(
    </div>
  </ng-container>

  <ng-container *ngIf="hasError">
    <div class="no-results">
      Oops! Something went wrong.
    </div>
  </ng-container>
</ng-container>

<ng-template #pagination>
  <div class="pagination">
    <div class="button-container">
      <button (click)="page = page - 1" [disabled]="!canPaginateBackwards">
        Back
      </button>
      <button (click)="page = page + 1" [disabled]="!canPaginateForward">
        Next
      </button>
    </div>
    <div class="result-summary">Total: {{ results.length }} | Showing {{ pageStart + 1 }} - {{ pageEnd }}</div>
  </div>
</ng-template>
