.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin: 8px 4px;

  .placeholder {
    position: absolute;
    padding: 4px;
    font-size: 0.8em;
    bottom: 28px;
    transition: font-size 0.3s, bottom 0.3s, color 0.3s;
  }

  .input-field {
    border: unset;
    border-bottom: 1px solid var(--primary-text-color);
    font-size: 1.2em;
    padding: 4px;
    margin-top: 12px;
    background-color: transparent;
    transition: border-bottom 0.3s;

    &:focus {
      border-bottom: 1px solid var(--active-input-color);
    }
  }
}
