<div class="password-detail">
  <div class="password">
    {{ details.password }}
  </div>

  <div class="stage-info">
    <div class="level">Lv.{{ details.level }}</div>
    <div class="cost">${{ details.cost }}</div>
  </div>

  <div class="item-info">
    <div class="item">
      {{ details.primaryItem?.name }}
    </div>
  </div>

  <div class="item-info">
    <div class="item">
      {{ details.secondaryItem?.name }}
    </div>
  </div>

  <div class="enemy-info">
    <div class="boss">{{ details.boss?.name }} {{ handleBossType(details.boss?.type) }}</div>
    <div class="monster">
      {{ details.monster?.name }}
    </div>
  </div>

  <div class="map-info">
    <div class="map-name">
      {{ details.mapName }}
    </div>
  </div>
</div>
