/* You can add global styles to this file, and also import other style files */
@import 'styles/reset.scss';

html {
  font-family: 'Fira Code', monospace;
}

body {
  margin: 8px;
}

/* Grid System */
.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    display: flex;
    flex-direction: column;
    width: $i / 12 * 100%;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
